

@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    
</head>
<body>
<div>
    <h2>Created by Anastasiya Kuzniatsova</h2>    
</div>
</body>
</html>